<li id="micropost-<%= tweet.id %>"> 
    <%= link_to gravatar_for(tweet.user, size: 50), tweet.user %> 
    <span class="user">
        <%= link_to tweet.user.display_name, tweet.user %>
    </span> 
    <span class="content">
        <%= tweet.content %>
    </span> 
    <span class="timestamp"> 
        Posted <%= time_ago_in_words(tweet.created_at) %> ago.
        <% if current_user?(tweet.user) %>
            <%= link_to "delete", tweet, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %> 
        <% end %>  
    </span>
</li>